.delivery-hero {
	background: url('@img/delivery_hero.jpg') center/cover no-repeat;
	&__row {
		padding: 67px 0 108px;
	}
	&.catalog {
		background-image: url('@img/catalog-hero.jpg');
	}
}

.delivery-tabs {
	padding: 83px 0 59px;
	&__buttons {
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
	&__buttons-wrapper {
		max-width: 1066px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	&__btn {
		background: transparent;
		padding: 0 5px 13px;
		position: relative;
		font-weight: 800;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.01em;
		display: flex;
		align-items: center;
		transition: .2s;
		&._active{
			&::before {
				content: "";
				position: absolute;
				top: calc(100% - 2px);
				left: 0;
				width: 100%;
				height: 3px;
				background: #337D5A;
				transition: 0.3s;
			}
		}
		span {
			margin: 4px 0 0 0;
		}
		&:nth-child(1) {
			img{
				width: 37px;
				aspect-ratio: 1/1;
			}
		}
		&:nth-child(2) {
			img{
				width: 45px;
				aspect-ratio: 45/33;
			}
		}
		&:nth-child(3) {
			img{
				width: 34px;
				aspect-ratio: 1/1;
			}
		}
	}
	&__icon {
		display: block;
		margin: 0 14px 0 0;
	}
	&__body {
		padding: 53px 0 0;
	}
	&__content {
		display: none;
		&._active {
			display: block;
		}
	}
	&__content-info {
		margin: 8px 0 0 0;
		max-width: 406px;
	}
	&__content-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	&__content-image-wrap {
		max-width: 72.909%;
		margin: 0 0 12px 0;
	}
	&__content-image {
		width: 100%;
		aspect-ratio: 770/471;
	}
	&__content-title {
		font-weight: 800;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 23px;
	}
	&__content-item {
		margin-bottom: 38px;
	}
	&__item-title {
		display: flex;
		align-items: center;
		gap: 14px;
		font-style: italic;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 9px;
	}
	&__item-icon {
		width: 48px;
		aspect-ratio: 1/1;
	}
	&__item-text {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}
}
@media (max-width: 991px){
	.delivery-hero {
		&.catalog {
			background-image: url('@img/catalog-hero_tab.jpg');
		}
	}
	.delivery-tabs {
		&__content-info {
			max-width: 100%;
		}
		&__content-list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0 20px;
		}
		&__content-image-wrap {
			display: none;
		}
		&__item-title {
			line-height: 120%;
		}
	}
}
@media (max-width: 767px){
	.delivery-hero {
		&__row {
			padding: 37px 0 78px;
		}
	}
	.delivery-tabs {
		padding: 20px 0;
		&__btn {
			flex-direction: column;
			display: flex;
			font-size: 14px;
			line-height: 16px;
			justify-content: flex-end;
			align-items: center;
		}
		&__icon {
			margin: 0 0 10px 0;
		}
		&__body {
			padding: 26px 0 0;
		}
		&__content-list {
			grid-template-columns: 1fr;
			max-width: 100%;
		}
		&__content-item {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 575px) {
	.delivery-hero {
		&.catalog {
			background-image: url('@img/catalog-hero_mob.jpg');
		}
	}
}