.delivery-hero {
	background: url('@img/delivery_hero.jpg') center/cover no-repeat;
	&__row {
		padding: 67px 0 108px;
	}
	&.catalog {
		background-image: url('@img/catalog-hero.jpg');
	}
}

.delivery-tabs {
	padding: 83px 0 59px;
	&__content-info {
		margin: 8px 0 0 0;
		max-width: 406px;
	}
	&__content-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	&__content-image-wrap {
		max-width: 72.909%;
		margin: 0 0 12px 0;
	}
	&__content-image {
		width: 100%;
		aspect-ratio: 770/471;
	}
	&__content-title {
		font-weight: 800;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 23px;
	}
	&__content-item {
		margin-bottom: 38px;
	}
	&__item-title {
		display: flex;
		align-items: center;
		gap: 14px;
		font-style: italic;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 9px;
	}
	&__item-icon {
		width: 48px;
		aspect-ratio: 1/1;
	}
	&__item-text {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}
}
@media (max-width: 991px){
	.delivery-hero {
		&.catalog {
			background-image: url('@img/catalog-hero_tab.jpg');
		}
	}
	.delivery-tabs {
		&__content-info {
			max-width: 100%;
		}
		&__content-list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0 20px;
		}
		&__content-image-wrap {
			display: none;
		}
		&__item-title {
			line-height: 120%;
		}
	}
}
@media (max-width: 767px){
	.delivery-hero {
		&__row {
			padding: 37px 0 78px;
		}
	}
	.delivery-tabs {
		padding: 20px 0;
		&__content-list {
			grid-template-columns: 1fr;
			max-width: 100%;
		}
		&__content-item {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 575px) {
	.delivery-hero {
		&.catalog {
			background-image: url('@img/catalog-hero_mob.jpg');
		}
	}
}