@use 'libs';

.hero {
	background: url('@img/main-hero.jpg') 0 0/100% 100% no-repeat;
	&__row {
		padding: 195px 0 139px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 38px;
	}
	&_company {
		& .hero__row {
			padding: 142px 0 139px;
		}
	}
	&_wholesale {
		& .hero__row {
			padding: 189px 0 155px;
		}
	}
	&_company {
		background-image: url('@img/hero-company.jpg');
	}
	&_wholesale {
		background-image: url('@img/wholesale-hero.jpg');
	}
}


.info {
	background: #FBFBFB;
	&_bg-white {
		background: #fff;
	}
	&__row {
		padding: 100px 0 90px;
		display: flex;
		justify-content: space-between;
	}
	&__article {
		max-width: 435px;
		margin: 0 20px 0 0;
		padding: 29px 0 0 0;
	}
	&__title {
		margin-bottom: 39px;
		text-align: left;
	}
	&__text-wrap {
		margin-bottom: 45px;
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 25.78px;
		letter-spacing: 0.01em;
		margin-bottom: 26px;
		span {
			font-weight: 600;
			color: libs.$dark-green;
		}
		&:last-child {
			margin: 0;
		}
	}
	&__button {
		width: 170px;
	}
}

.products {
	background: #fff;
	&__row {
		padding: 83px 0 90px;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 65px;
	}
	&__button {
		width: 200px;
		margin: 71px auto 0;
	}
}

.slider-products,
.image-slider,
.info-slider {
	overflow: hidden;
}

.slider-products {
	margin-bottom: 51px;
	&__slide {
		border: 1px solid rgba(0, 0, 0, 0.08);
		transition: .3s;
		&:hover {
			border-color: #93B474;
		}
	}
}

.image-slider {
	background: #FCFCFC;
	height: 278px;
	position: relative;
	&__image-wrap {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__label {
		position: absolute;
		top: 20px;
		left: 0;
		z-index: 2;
	}
	&__nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		&._active {
			opacity: 1;
			visibility: visible;
			z-index: 1;
		}
	}
	&__next,
	&__prev,
	&__zoom {
		position: absolute;
		cursor: pointer;
		transition: .3s;
	}
	&__next,
	&__prev {
		top: calc(50% + 12px);
		transform: translate(0, -50%);
		img{
			width: 23px;
			aspect-ratio: 23/21;
		}
	}
	&__next {
		right: 15px;
	}
	&__prev {
		left: 15px;
	}
	&__zoom {
		top: calc(50% + 5px);
		left: 50%;
		width: 55px;
		transform: translate(-50%,-50%);
	}
	& .swiper-button-disabled {
		opacity: 0.5;
	}
	&__icon {
		width: 22px;
		aspect-ratio: 22/20;
	}
}

.item-body {
	&__header {
		padding: 19px 22px 17px 22px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
	&__art,
	&__info-body,
	&__price {
		@include libs.Montserrat;
	}
	&__title,
	&__art,
	&__text,
	&__price {
		letter-spacing: 0.01em;
	}
	&__title {
		font-weight: 700;
		font-size: 17.3px;
		line-height: 21px;
		margin: 0px 0 7px -2px;
	}
	&__art {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: #8A8A8A;
		margin-bottom: 14px;
		display: block;
	}
	&__text {
		font-weight: 600;
		font-size: 15.8px;
		line-height: 18px;
		color: #000;
		margin-bottom: 18px;
		max-width: 240px;
	}
	&__info,
	&__info-body,
	&__footer {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	&__info-wrap {
		span {
			display: block;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.01em;
			&:first-child {
				color: #8A8A8A;
			}
			&:last-child {
				font-weight: 600;
				color: #337D5A;
			}
		}
	}
	&__info-icon {
		&._weight {
			width: 16px;
			aspect-ratio: 16/34;
		}
		&._package {
			width: 12px;
			aspect-ratio: 12/34;
		}
	}
	&__footer {
		padding: 13px 23px 12px 22px;
		align-items: center;
	}
	&__price {
		font-weight: 600;
		margin: 0 15px 4px 0;
		display: flex;
		align-items: center;
	}
	&__price-name {
		font-size: 15px;
		line-height: 18px;
		margin: 0 8px 0px 0;
	}
	&__price-value {
		font-size: 20px;
		line-height: 24px;
		color: libs.$dark-green;
		margin-right: 4px;
		span {
			font-size: 15px;
			line-height: 18px;
			color: libs.$dark-green;
		}
		&._old {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #8A8A8A;
			text-decoration: line-through;
			span {
				font-weight: 500;
				font-size: 13px;
				line-height: 16px;
				color: #8A8A8A;
			}
		}
	}
	&__btn {
		width: 124px;
	}
}

.slider-info {
	max-width: 700px;
	max-height: 472px;
	height: auto;
	&__slide {
		position: relative;
	}
	&__image-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__image {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);
	}
	&__nav {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 141px;
		height: 56px;
		background: libs.$dark-green;
		z-index: 3;
		& .image-slider__next,
		& .image-slider__prev {
			opacity: 1;
			visibility: visible;
			z-index: 3;
			top: 50%;
		}
		& .image-slider__next {
			right: 24px;
		}
		& .image-slider__prev {
			left: 24px;
		}
		& .swiper-button-disabled {
			opacity: 0.5;
		}
	}
}

.stat {
	&__row {
		padding: 81px 0 84px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 13px;
	}
	&__top {
		display: flex;
		align-items: flex-start;
		position: relative;
	}
	&__num  {
		@include libs.Montserrat;
		font-weight: 800;
		font-size: 72px;
		letter-spacing: 0.01em;
	}
	&__type {
		position: absolute;
		top: 9px;
		right: -23px;
		font-weight: 900;
		font-size: 18px;
		letter-spacing: 0.05em;
	}
	&__text {
		font-weight: 400;
		font-size: 18.6px;
		line-height: 21px;
	}
}

.purpose {
	background: url('@img/home-fullwidth-img.jpg') 0 0/100% 100% no-repeat;
	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #fff;
		letter-spacing: 0.01em;
		padding: 243px 0 204.72px;
	}
	&__title {
		max-width: 1057px;
		margin-bottom: 70px;
	}
	&__play {
		margin-bottom: 28px;
	}
	&__text {
		font-style: italic;
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.01em;
	}
}

.benefit{
	&__row {
		padding: 84px 0 101px;
	}
	&__title {
		margin-bottom: 27px;
	}
	&__text {
		max-width: 585px;
		margin-bottom: 64px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, 410px);
		justify-content: center;
		gap: 30px;
	}
	&__item {
		height: 525px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		color: #fff;
		overflow: hidden;
		cursor: pointer;
		&:nth-child(1) {
			background: url('@img/benefit-img-1.jpg')0 0/cover no-repeat;
		}
		&:nth-child(2) {
			background: url('@img/benefit-img-2.jpg')0 0/cover no-repeat;
		}
		&:nth-child(3) {
			background: url('@img/benefit-img-3.jpg')0 0/cover no-repeat;
		}
	}
	&__item-title {
		font-weight: 800;
		font-size: 40px;
		line-height: 47px;
		letter-spacing: 0.01em;
	}
	&__item-icon {
		margin-bottom: 20px;
		display: block;
		aspect-ratio: 1/1;
		&._gr {
			width: 53px;
			aspect-ratio: 53/62;
		}
		&._fun {
			width: 50.77px;
			aspect-ratio: 50.77/51;
		}
		&._ship {
			width: 59px;
			aspect-ratio: 59/54;
		}
	}
	&__article {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(51, 125, 90, 0.96);
		padding: 103px 37px 20px;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		transition: .3s;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		& .benefit__item-title {
			margin-bottom: 20px;
		}
		& .benefit__item-icon {
			margin-bottom: 17px;
		}
	}
	&__item-text {
		font-weight: 600;
		font-size: 18px;
		line-height: 23px;
		letter-spacing: 0.01em;
		margin-bottom: 17px;
		&:last-child{
			margin: 0;
		}
	}
	&__item-hover {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 2;
		&:hover ~ .benefit__article {
			top: 0;
			visibility: visible;
			opacity: 1;
			z-index: 1;
		}
	}
}

.eco {
	background: url('@img/home-fullwidth-img-2.jpg') 0 0/100% 100% no-repeat;
	&__row {
		padding: 224px 0 262px;
		display: flex;
		align-items: center;
		flex-direction: column;
		color: #fff;
	}
	&__icon {
		margin-bottom: 47px;
		width: 70px;
		aspect-ratio: 35/37;
	}
	&__title {
		margin-bottom: 17px;
	}
	&__text {
		font-size: 22px;
		line-height: 32px;
		max-width: 680px;
	}
}

.news {
	background: rgba(249, 249, 249, 0.7);
	padding: 87px 0 90px;
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 62px;
	}
	&__title {
		text-align: left;
		margin-bottom: 28px;
	}
	&__text {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.01em;
	}
	&__nav {
		width: 141px;
		height: 58px;
		position: relative;
		background: libs.$dark-green;
		margin: 6px 0 0 0;
		& .swiper-button-disabled {
			opacity: .5;
		}
	}
	&__next,
	&__prev {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		img {
			width: 22px;
			aspect-ratio: 22/20;
		}
	}
	&__next {
		right: 26px;
	}
	&__prev {
		left: 26px;
	}
	&__button {
		width: 225px;
		margin: 69px auto 0;
	}
}

.news-slider {
	overflow: hidden;
}

.news-item {
	border: 1px solid transparent;
	&__image-wrapper {
		height: 270px;
		width: 100%;
		position: relative;
	}
	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__image {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__body {
		background: #fff;
		padding: 22px 24px 29px;
	}
	&__date {
		@include libs.Montserrat;
		display: block;
		font-weight: 500;
		font-size: 13px;
		line-height: 22px;
		letter-spacing: 0.01em;
		color: #8A8A8A;
		margin-bottom: 11px;
	}
	&__title {
		font-weight: 700;
		font-size: 15.7px;
		line-height: 23px;
		letter-spacing: 0.01em;
		margin-bottom: 12px;
	}
	&__text {
		font-weight: 500;
		font-size: 13.9px;
		line-height: 20px;
		letter-spacing: 0.01em;
		max-width: 349px;
		margin-bottom: 23px;
	}
	&__link {
		display: block;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.01em;
		color: #1A2F3F;
		&:hover {
			color: libs.$dark-green;
		}
	}
}

@media (max-width: 1220px) {
	.item-body {
		&__price {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	.image-slider {
		&__nav {
			opacity: 1;
			z-index: 1;
			visibility: visible;
		}	
	}

	.purpose {
		&__row {
			padding: 160px 0 150px;
		}
	}

	.benefit {
		&__list {
			gap: 20px;
		}
		&__item {
			height: 400px;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				background: #fff;
			}
		}
		&__article {
			visibility: visible;
			opacity: 1;
			z-index: 1;
			top: 0;
			padding: 20px;
			justify-content: center;
		}
		&__item-hover {
			display: none;
		}
		&__item-title {
			font-size: 32px;
		}
		&__item-text {
			font-size: 16px;
		}
	}
}
@media (max-width: 991px) {
	.hero {
		background: url('@img/main-hero_mob.jpg') 0 0/100% 100% no-repeat;
		min-height: auto;
		&__row {
			padding: 120px 0 100px;
		}
		&__title {
			margin-bottom: 30px;
		}
		&_company {
			background-image: url('@img/hero-company_tab.jpg');
		}
		&_wholesale {
			background-image: url('@img/wholesale-hero_tab.jpg');
		}
	}

	.info {
		&__article {
			margin: 0 15px 0 0;
			padding: 40px 0 0 0;
		}
		&__text-wrap {
			margin: 0;
		}
		&__title {
			margin-bottom: 30px;
		}
		&__text {
			margin-bottom: 15px;
		}
		&__button {
			margin: 30px 0 0 0;
		}
	}

	.purpose {
		background-image: url('@img/home-fullwidth-img_tab.jpg');
		&__row {
			padding: 100px 0 70px;
		}
		&__text {
			font-size: 18px;
		}
	}

	.eco {
		background-image: url('@img/home-fullwidth-img-2_tab.jpg');
		&__row {
			padding: 100px 0 70px;
		}
		&__icon {
			margin-bottom: 40px;
		}
		&__text {
			font-size: 18px;
			line-height: 130%;
		}
	}
}
@media (max-width: 767px) {
	.products__button,
	.info__button,
	.news__button {
		width: 50%;
		margin: 0 auto;
	}

	.products {
		&__row {
			padding: 63px 0 40px;
		}
		&__slider {
			margin-bottom: 20px;
		}
	}

	.item-body {
		&__header {
			padding: 19px 12px 17px 12px;
		}
		&__footer {
			padding: 12px;
			flex-direction: column;
		}
		&__price {
			align-items: center;
		}
		&__btn {
			width: 100%;
		}
	}

	.info {
		&__row {
			padding: 40px 0;
			flex-direction: column-reverse;
			align-items: center;
		}
		&__article {
			max-width: 100%;
		}
		&__title {
			text-align: center;
		}
		&__button {
			margin: 30px auto 0;
		}
	}

	.slider-info {
		max-width: 500px;
		width: 100%;
	}

	.stat {
		&__row {
			padding: 40px 0;
		}
		&__list {
			grid-template-columns: 1fr 1fr;
		}
		&__num {
			font-size: 62px;
		}
		&__text {
			font-size: 16px;
			line-height: 18px;
		}
	}

	.benefit {
		&__row {
			padding: 63px 0 40px;
		}
		&__title {
			margin-bottom: 20px;
		}
		&__text {
			margin-bottom: 30px;
		}
		&__list {
			grid-template-columns: minmax(280px, 410px);
		}
		&__item {
			height: auto;
			min-height: 340px;
		}
		&__item-title {
			font-size: 28px;
			line-height: 1;
		}
		&__item-text {
			font-size: 14px;
			line-height: 120%;
			margin-bottom: 10px;
		}
	}

	.news {
		padding: 63px 0 40px;
		&__row {
			flex-direction: column;
			gap: 40px;
			margin-bottom: 40px;
		}
		&__title {
			text-align: center;
			margin-bottom: 30px;
		}
		&__nav {
			height: 40px;
		}
		&__button {
			margin-top: 40px;
		}
	}
}
@media (max-width: 575px) {
	.hero {
		background: url('@img/main-hero_mob-l.jpg') 0 0/100% 100% no-repeat;
		&_company {
			background-image: url('@img/hero-company_mob.jpg');
		}
		&_wholesale {
			background-image: url('@img/wholesale-hero_mob.jpg');
		}
	}
	.products__button,
	.info__button,
	.news__button {
		width: 90%;
	}

	.stat {
		&__list {
			grid-template-columns: 1fr;
		}
	}

	.purpose {
		background-image: url('@img/home-fullwidth-img_mob.jpg');
		&__row {
			padding: 63px 0 40px;
		}
		&__title {
			margin-bottom: 40px;
		}
	}

	.eco {
		background-image: url('@img/home-fullwidth-img-2_mob.jpg');
		&__row {
			padding: 63px 0 40px;
		}
		&__icon {
			margin-bottom: 30px;
		}
	}

	.news__button {
		margin-top: 10px;
	}
}