@use 'libs';

.hero {
	background: url('@img/main-hero.jpg') 0 0/100% 100% no-repeat;
	&__row {
		padding: 195px 0 139px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 38px;
	}
}

.products {
	background: #fff;
	&__row {
		padding: 83px 0 90px;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 65px;
	}
	&__button {
		width: 200px;
		margin: 71px auto 0;
	}
}

.slider-products,
.image-slider {
	overflow: hidden;
}

.slider-products {
	margin-bottom: 50px;
	&__slide {
		border: 1px solid rgba(0, 0, 0, 0.08);
		transition: .3s;
		&:hover {
			border-color: #93B474;
		}
	}
}

.image-slider {
	background: #FCFCFC;
	height: 278px;
	position: relative;
	&__image-wrap {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__label {
		position: absolute;
		top: 20px;
		left: 0;
		z-index: 2;
	}
	&__image {
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
	&__next,
	&__prev {
		position: absolute;
		top: calc(50% + 12px);
		z-index: 1;
		transform: translate(0, -50%);
	}
	&__next {
		right: 15px;
	}
	&__prev {
		left: 15px;
	}
}



.item-body {
	&__header {
		padding: 19px 22px 17px 22px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
	&__art,
	&__info-body,
	&__price {
		@include libs.Montserrat;
	}
	&__title,
	&__art,
	&__text,
	&__price {
		letter-spacing: 0.01em;
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 7px;
	}
	&__art {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: #8A8A8A;
		margin-bottom: 14px;
		display: block;
	}
	&__text {
		font-weight: 600;
		font-size: 16px;
		line-height: 17px;
		color: #000;
		margin-bottom: 20px;
		max-width: 240px;
	}
	&__info,
	&__info-body,
	&__footer {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	&__info-wrap {
		span {
			display: block;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.01em;
			&:first-child {
				color: #8A8A8A;
			}
			&:last-child {
				font-weight: 600;
				color: #337D5A;
			}
		}
	}
	&__footer {
		padding: 12px 23px 13px 22px;
		align-items: center;
	}
	&__price {
		font-weight: 600;
		margin: 0 15px 4px 0;
	}
	&__price-name {
		font-size: 15px;
		line-height: 18px;
		margin: 0 2.5px 0 0;
	}
	&__price-value {
		font-size: 20px;
		line-height: 24px;
		color: libs.$dark-green;
		margin-right: 4px;
		span {
			font-size: 15px;
			line-height: 18px;
			color: libs.$dark-green;
		}
		&._old {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #8A8A8A;
			text-decoration: line-through;
			span {
				font-weight: 500;
				font-size: 13px;
				line-height: 16px;
				color: #8A8A8A;
			}
		}
	}
	&__btn {
		width: 124px;
	}
}

@media (max-width: 1220px) {
	.item-body {
		&__price-value{
			display: block;
		}
	}
}
@media (max-width: 991px) {
	.hero {
		background: url('@img/main-hero_mob.jpg') 0 0/100% 100% no-repeat;
		min-height: auto;
		&__row {
			padding: 120px 0 100px;
		}
		&__title {
			margin-bottom: 20px;
		}
	}

	.slider-products {
		&__slide {
		}
	}
}

@media (max-width: 575px) {
	.hero {
		background: url('@img/main-hero_mob-l.jpg') 0 0/100% 100% no-repeat;
	}
	.products {
		&__row {
			padding: 63px 0 70px;
		}
		&__slider {
			margin-bottom: 20px;
		}
	}
}