.one-news {
	&__row {
		padding: 20px 0;
	}
}

.article-news {
	margin-bottom: 40px;
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: 0.01em;
		margin-bottom: 15px;
	}
	&__date {
		font-family: 'Montserrat';
		display: block;
		font-weight: 500;
		font-size: 15px;
		line-height: 147%;
		letter-spacing: 0.01em;
		color: #8A8A8A;
		margin-bottom: 20px;
	}
	&__image-wrapper {
		margin-bottom: 20px;
	}
	&__image {
		width: 100%;
		aspect-ratio: 198/119;
	}
	&__text-wrapper {
		margin-bottom: 25px;
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 156%;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__subtitle {
		font-weight: 700;
		font-size: 20px;
		letter-spacing: 0.01em;
		line-height: 117%;
		margin-bottom: 15px;
	}
	&__list-title {
		font-weight: 700;
		font-size: 16px;
		line-height: 125%;
		letter-spacing: 0.01em;
		margin-bottom: 10px;
	}
	&__list {
		margin: 0 0 20px 28px;
	}
	&__item {
		position: relative;
		margin-bottom: 9px;
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
		&:last-child {
			margin-bottom: 0;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: calc(50% - 2.5px);
			left: -27px;
			width: 5px;
			height: 5px;
			background: #337D5A;
			border-radius: 50%;
		}
	}
}

.latest-news {
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 108%;
		letter-spacing: 0.01em;
		margin-bottom: 20px;
	}
	&__list {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		gap: 15px;
		padding: 10px 0;
	}
	&__item {
		min-width: 170px;
	}
	&__image-wrap {
		margin-bottom: 10px;
	}
	&__image {
		display: block;
		width: 100%;
		aspect-ratio: 220/163;
	}
	&__date {
		font-family: 'Montserrat';
		display: block;
		font-weight: 500;
		font-size: 13px;
		line-height: 169%;
		letter-spacing: 0.01em;
		color: #8A8A8A;
		margin-bottom: 8px;
	}
	&__item-title {
		font-weight: 700;
		font-size: 14.5px;
		line-height: 18px;
		letter-spacing: 0.01em;
		margin-bottom: 8px;
	}
	&__link {
		font-weight: 700;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.01em;
		color: #1A2F3F;
		&:hover {
			color: #337D5A;
		}
		span {
			margin: 1px 0 0 2px;
			font-size: 15px;
		}
	}
	&__socials {
		display: none;
	}
}

@media (min-width: 768px) {
	.one-news {
		&__row {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: 20px;
		}
	}
	.article-news {
		max-width: 990px;
		margin-bottom: 50px;
	}
	.latest-news {
		background: #FCFCFC;
		max-width: 260px;
		min-width: 210px;
		&__row {
			padding: 27px 10px 0;
		}
		&__title {
			text-align: center;
		}
		&__list {
			flex-direction: column;
		}
		&__socials {
			display: block;
			background: #337D5A;
			color: #fff;
			padding: 43px 10px 31px;
			text-align: center;
			&-title {
				font-weight: 800;
				font-size: 20px;
				line-height: 23px;
				letter-spacing: 0.02em;
				margin-bottom: 20px;
			}
			&-text {
				font-weight: 600;
				font-size: 16.8px;
				line-height: 20px;
				text-align: center;
				letter-spacing: 0.02em;
				color: #EFEFEF;
				margin-bottom: 32px;
			}
			&-list {
				display: flex;
				gap: 18px;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

@media (min-width: 992px) {
	.one-news {
		&__row {
			padding: 58px 0 0;
		}
	}

	.article-news {
		&__title {
			font-size: 30.9px;
			line-height: 35px;
			margin-bottom: 12px;
		}
		&__date {
			margin: 0 0 28px -2px;
		}
		&__image-wrapper {
			margin-bottom: 30px;
		}
		&__text-wrapper {
			margin-bottom: 40px;
		}
		&__text {
			margin-bottom: 12px;
			&._mb {
				margin-bottom: 21px;
			}
		}
		&__subtitle {
			font-size: 23.7px;
			max-width: 505px;
			margin-bottom: 23px;
		}
		&__list-title {
			font-size: 15.8px;
			margin-bottom: 17px;
		}
		&__list {
			margin: 0 0 32px 28px;
		}
	}

	.latest-news {
		margin: 130px 0 0 0;
		&__row {
			padding: 24px 20px 0;
		}
		&__title {
			font-size: 23.4px;
			margin-bottom: 10px;
		}
		&__image-wrap {
			margin-bottom: 14px;
		}
		&__list {
			gap: 40px;
			margin: 0 0 44px 0;
		}
	}
}