@use 'libs';

.reg {
	padding: 48px 0 90px;
	&__title {
		font-weight: 800;
		font-size: 32px;
		letter-spacing: 0.01em;
		line-height: 32px;
		margin-bottom: 18px;
	}
	&__subtitle {
		font-weight: 700;
		font-size: 17.2px;
		line-height: 188%;
		letter-spacing: 0.01em;
		margin-bottom: 20px;
	}
	& .tabs {
		&__head {
			margin-bottom: 42px;
		}
		&__btn {
			font-weight: 600;
			font-size: 15px;
			line-height: 17px;
			color: rgba(0, 0, 0, 0.5);
			padding: 14px 5px 13px;
			text-align: center;
			&._active {
				color: #000;
			}
		}
	}
}

.left-reg,
.right-reg {
	width: 100%;
	max-width: 474px;
	font-family: 'Montserrat';
}

.left-reg {
	& .tabs {
	
	}
}

.form {
	display: flex;
	justify-content: space-between;
	padding: 0 77px 0 0;
	&__slide {
		display: flex;
	}
	&__inputs {
		margin-bottom: 47px;
		&_last {
			margin-bottom: 28px;
		}
	}
	&__input-wrapper {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__input {
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		width: 100%;
		border: 0.5px solid rgba(0, 0, 0, 0.15);
		transition: .3s;
		transition: 0.3s;
		padding: 15px 17px 12px;
		&::placeholder {
			color: libs.$base-color;
		}
		&:focus {
			border-color: libs.$dark-green;
		}
		&:hover {
			box-shadow: 0 0 3px libs.$dark-green;
		}
	}
	&__select {
		margin-bottom: 16px;
	}
	&__radio-wrapper {
		margin-bottom: 8px;
	}
	&__radio-label,
	&__checkbox {
		position: relative;
		font-weight: 500;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.01em;
		color: #8A8A8A;
	}
	&__radio-label {
		padding: 0 0 0 27px;
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			border-radius: 50%;
			transition: .2s;
		}
		&::before {
			top: calc(50% - 7.5px);
			left: 0;
			width: 15px;
			height: 15px;
			border: 2px solid #337D5A;
		}
		&::after {
			top: calc(50% - 3.5px);
			left: 4px;
			width: 7px;
			height: 7px;
			background: #337D5A;
			opacity: 1;
			transform: scale(1);
		}
	}
	&__checkbox-wrapper {
		margin-bottom: 26px;
	}
	&__checkbox {
		display: flex;
		align-items: center;
		padding: 0 0 0 24px;
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
		}
		&::before {
			left: 0;
			width: 14px;
			height: 14px;
			border: 1.5px solid #337D5A;
			z-index: 1;
		}
		&::after {
			left: 0;
			width: 100%;
			height: 100%;
			width: 14px;
			height: 14px;
			background: #337D5A;
			border: 3px solid #fff;
			transition: .2s;
		}
	}
	&__radio-input,
	&__checkbox-input {
		display: none;
		&:not(:checked) + label::after {
			opacity: 0;
			transform: scale(0);
		}
	}

	&__checkbox-link {
		margin: 0 0 0 4px;
		font-weight: 600;
		color: #337D5A;
	}

	&__btn {
		display: block;
		width: 100%;
		font-size: 14.3px;
		line-height: 17px;
		padding: 17px 10px 15px;
	}
}

.right-reg {
	margin: 66px 0 0 40px;
	&__photo-input {
		display: none;
	}
	&__photo-label {
		display: flex;
		justify-content: center;
		align-items: center;
		background: url('@img/reg-photo.jpg') 0 0/cover no-repeat;
		width: 131px;
		height: 170px;
		font-weight: 600;
		font-size: 13px;
		line-height: 17px;
		color: #fff;
		margin-bottom: 18px;
		span {
			display: inline-block;
			border-bottom: 2px dashed #fff;
			padding: 0 0 2px 0;
		}
	}
	&__radios {
		margin-bottom: 56px;
	}
}

.password {
	padding: 58px 0 101px;
	&__title {
		text-align: center;
		margin-bottom: 41px;
	}
	&__form {
		margin: 0 auto;
		max-width: 410px;
	}
	& .form__inputs {
		margin-bottom: 15px;
	}
}

@media (max-width: 1220px) {
	.form {
		padding: 0;
	}
}

@media (max-width: 767px) {
	.reg,
	.password {
		padding: 27px 0;
		&__title {
			margin-bottom: 40px;
		}
	}
	.form {
		flex-direction: column-reverse;
	}
	.right-reg,
	.left-reg {
		margin: 0;
		max-width: 100%;
	}
	.right-reg {
		&__radios {
			margin-bottom: 30px;
		}
	}

	.password {
		&__form {
		max-width: 100%;
		}
	}
}

@media (max-width: 767px) {
	.reg {
		& .tabs__indicator {
			display: block;
		}
	}
}